body{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style-type: none;
}
.parent{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enfant{

    margin-left: 50px;
 }
ul{
    margin-right: 100px;
    display: flex;
    justify-content: space-around;
    
}
ul li{
    padding: 20px 20px;
    list-style-type: none;
    
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.sect2{
    width: 100%;
    height: 600px;
    background-color: rgb(19, 19, 31);
    margin-top: -7%;
}
.text{
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}
h1{
    color: rgb(202, 181, 221);
    margin-left: 100px;
    margin-top: 70px;
    font-size: 70px;
    transform: none;
    
 }
p{
    color: white;
    margin-left: 100px;
    font-size: 20px;
    margin-top: -48px;

}
.projet{
    width: 250px;
    height: 48px;
    color: white;
    background-color: rgb(202, 181, 221);
    display: flex;
    justify-content: center;
    align-items:center;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-left:100px;
    margin-top: 20px;
}

 .photo{
    display: flex;
    justify-content: flex-end;
    margin-right: 140px;
    margin-top: -300px;

 }
 .h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 60px;
 }
 .grand{
    width: 80%;
    height: 690px;
    margin-left: 8%;
 }
 .elem{
    display: flex;
    justify-content: space-around;
 }
 .img{
    padding-top: 4%;
    display: flex;
    justify-content: space-around;
 }
 .votre{
    color: rgb(202, 181, 221);
    font-size:25px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
 }
 .glob{
    width: 100%;
    height: 700px;
    background-color: rgb(15, 15, 43);
 }
 
.form .nom input{
    width:  330px;
    height: 30px;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.nom{
    display: flex;
    flex-direction: column;
}
label{
    color: white;
     font-size: 26px ;
     
}
.messag {
    width: 700px;
    height: 200px;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding-top: 20px;
    
}

.envoyez{
    width: 150px;  
    height: 60px; 
    background-color: rgb(202, 181, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    margin-top: 40px;
    margin-left: 600px;
    }

    .vit{
        width: 100%;
        height: 200px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;


    }

    .logo{
        display: flex;
        justify-content: flex-start;
        margin-left: 50px;
         
    }
    .asta{
        display: flex;
        justify-content:space-around ;
        margin-right: 50px;
        padding: 15px 15px;

    }
    .twit{
        margin-right: 40px;
    }
    @media screen and (min-width:768px) {
        .parent{
            width: 100%;
            height: 40px;
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .enfant{

            margin-left: 65px;
         }
         ul{
            margin-right: 50px;
            display: flex;
            justify-content: space-around;
            
        }
        ul li{
            padding: 5px 5px;
            list-style-type: none;
            
        }
        a{
            text-decoration: none;
            color: black;
            font-size: 15px;
        }
        .sect2{
            width: 100%;
            height: 600px;
            background-color: rgb(19, 19, 31);
            margin-top: -7%;
        }
        .text{
            margin-top: 100px;
            margin-left: 100px;
            display: flex;
            flex-direction: column;
        }
        h1{
            color: rgb(202, 181, 221);
            margin-left: 100px;
            margin-top: 50px;
            font-size: 50px;
            transform: none;
            
         }
         p{
            color: white;
            margin-left: 100px;
            font-size: 20px;
            margin-top: -48px;
        
        }
        .projet{
            width: 250px;
            height: 48px;
            color: white;
            background-color: rgb(202, 181, 221);
            display: flex;
            justify-content: center;
            align-items:center;
            border-top-right-radius: 25px;
            border-top-left-radius: 25px;
            border-bottom-right-radius: 25px;
            border-bottom-left-radius: 25px;
            margin-left:100px;
            margin-top: 20px;
        }
        .photo{
            display: flex;
            justify-content: flex-end;
            margin-right: 100px;
            margin-top: -10px;
            width: 200px;
            height: 200px;
        
         }
         .h2{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 70px;
            margin-bottom: 60px;
         }
         .grand{
            width: 80%;
            height: 690px;
            margin-left: 8%;
         }
         .elem{
            display: flex;
            justify-content: center;
            width: 690px;
            height: 250px;
            /* margin-left: 500px; */
            margin-right: 500px; 
         }
         .img{
            padding-top: 4%;
            display: flex;
            justify-content: flex-end;
            /* margin-left: 500px; */
             margin-right: 500px;
            width: 712px;
            height: 250px;
         }
         .votre{
            color: rgb(202, 181, 221);
            font-size:25px;
            display: flex;
            justify-content: center;
            margin-top: 70px;
         }
         .glob{
            width: 100%;
            height: 700px;
            background-color: rgb(15, 15, 43);
         }
         .form .nom input{
            width:  330px;
            height: 30px;
        }
        .form{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            
        }
        .nom{
            display: flex;
            flex-direction: column;
        }
        label{
            color: white;
             font-size: 26px ;
             
        }
        .envoyez{
            width: 150px;  
            height: 60px; 
            background-color: rgb(202, 181, 221);
            display: flex;
            justify-content: center;
            align-items: center;
            border-top-left-radius: 27px;
            border-top-right-radius: 27px;
            border-bottom-left-radius: 27px;
            border-bottom-right-radius: 27px;
            margin-top: 40px;
            margin-left: 310px;
            }
          
    }
    
    

































































































































